footer{
    background-color: var(--grisPale);
}

#footer{
    background-color: var(--grisPale);
    display: grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;

    @media (min-width: 992px)
    {
        grid-template-columns: repeat(3, 1fr);
    }

}

#logo--footer {
    width: 200px;
    margin: 0 auto;
    transition: 0.3s ease;

    @media (min-width: 992px){
        width: 210px;
        margin: 10px;
    }

    @media (min-width:1200px){
        position: relative;
        left: 40px;
        width: 250px;
    }

    @media (min-width:1400px){
        left: 60px;
        width: 300px;
    }

    @media (min-width:1600px){
        width: 350px;
    }
}



#contacts--footer{
    grid-row: 2/3;
    text-align: center;
    padding: 20px;
    transition: 0.3s ease;

    @media (min-width: 992px){
        grid-row: inherit;
        position: relative; 
        bottom: 60px; 
    }

    @media (min-width: 1200px){
        bottom: 65px;
    }

    @media (min-width: 1600px){
        bottom: 105px;
    }
}

#contacts--footer h3{
    font-family: 'Chillen';
    font-size: 30px;
    transition: 0.3s ease;

    @media (min-width: 1420px){
        font-size: 50px;
    }

    
}

#btns--contact{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#contacts--footer p{
    font-family: 'Montserrat';
    width: 250px;
    padding: 10px;
    margin: 10px;
    line-height: 1.8rem;
    background-color: var(--beige);
    border-radius: 50px;
    transition: 0.3s ease;


    &:hover{
        background-color: var(--rougeFonce);
        color: var(--beige);
        cursor: pointer;
    }


    @media (min-width: 1420px){
        width: 300px;
        font-size: 18px;
    }

    @media (min-width: 1920px){
        font-size: 20px;
        width: 400px;
    }

}

.a--propos{
    padding: 10px;
    margin: 0 auto;
    transition: 0.3s ease;

    @media (min-width:992px){
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: baseline;
    }
}

.a--propos h3{
    font-family: 'Chillen';
    font-size: 30px;
    text-align: center;
    transition: 0.3s ease;

    @media (min-width: 992px){
        text-align: left;
    }

    @media (min-width: 1420px){
        font-size: 50px;
    }
}

.a--propos p{
    font-family: 'Montserrat';
    text-align: center;
    transition: 0.3s ease;

    @media (min-width:992px){
        text-align: left;  
    }

    @media (min-width: 1420px){
        font-size: 20px;
    }

    @media (min-width: 1920px){
        font-size: 25px;
    }
}



table{
    grid-row: 3/4;
    width: 400px;
    font-family: 'Montserrat';
    text-align: center;
    line-height: 1.8rem;
    padding: 10px;
    margin-top: 10px;
    transition: 0.3s ease;

    @media (min-width: 992px){
        grid-row: inherit; 
        text-align: left; 
    }

    @media (min-width: 1420px){
        font-size: 20px;
        line-height: 2.5rem;
    }

    @media (min-width: 1920px){
        font-size: 25px;
    }
}