/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */
:root{
    /*[ COULEURS ]*/
    --blanc:#fff;
    --noir : #000;
    --rougeFonce : #c15f58;
    --rougePale : #d8655A;
    --grisFonce : #2e2e2e;
    --grisPale : #494949;
    --beige : #f6e8df;
}