/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */
:root{
    /*[ COULEURS ]*/
    --blanc:#fff;
    --noir : #000;
    --rougeFonce : #CE5854;
    --rougePale : #E95C54;
    --grisFonce : #2e2e2e;
    --grisPale : #494949;
    --beige : #f6e8df;
}